<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/default.xhtml">
    <ui:define name="content">
        <h:form id="cartForm">
        <div></div>
        <h2>Cart</h2>
        <h:dataTable var="_cart" value="#{sp.cart}"  styleClass="simpletablestyle">
            <h:column>
                <f:facet name="header">Name</f:facet>
                #{_cart.product.name}
            </h:column>
            <h:column>
                <f:facet name="header">Price</f:facet>
                #{_cart.product.amount}
            </h:column>
            <h:column>
                <f:facet name="header">Quantity</f:facet>
                <h:inputText value="#{_cart.quantity}" style="width:20px" />
            </h:column>
            <h:column>
                <f:facet name="header">Action</f:facet>
                <h:commandButton value="Delete" action="#{sp.remove(_cart)}"/>
            </h:column>
            <f:facet name="footer">Total: $#{sp.total}</f:facet>
        </h:dataTable>
            <p>
                <h:commandButton id="register" action="#{orderController.create(sp)}" value="Order" styleClass="btn btn-default">
                </h:commandButton>
                <h:messages styleClass="messages error" errorClass="invalid" infoClass="valid" warnClass="warning"
                                globalOnly="true"/>
            </p>
        </h:form>
        <h:link outcome="products" value="Continue shopping..."/>
    </ui:define>
</ui:composition>
