<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   template="/WEB-INF/templates/default.xhtml">
   <ui:define name="content">
      <h1>Welcome #{login.user} </h1>
      <h:form>
      <div>
         Please go to <h:commandLink value="Products" action="products?faces-redirect=true"/>. <br/>
         To check your previous orders please go to <h:commandLink value="My orders" action="myorders?faces-redirect=true" />
      </div>
      </h:form>
   </ui:define>
</ui:composition>
