<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/default.xhtml">
    <ui:define name="content">
        <div>
        </div>
        <h2>Orders</h2>
        <h:panelGroup rendered="#{empty orders}">
            <em>No orders have been created so far!</em>
        </h:panelGroup>
        <h:dataTable var="_order" value="#{orders}" rendered="#{not empty orders}" styleClass="simpletablestyle">
            <h:column>
                <f:facet name="header">Number of order</f:facet>
                #{_order.id}
            </h:column>
            <h:column>
                <f:facet name="header">Date</f:facet>
                #{_order.date}
            </h:column>
            <h:column>
                <f:facet name="header">Total</f:facet>
                #{_order.total}
            </h:column>
            <h:column>
                <f:facet name="header">Status</f:facet>
                #{_order.status}
            </h:column>
            <h:column>
                <f:facet name="header">Details</f:facet>
                <h:form>
                <h:commandLink value=" Show details" action="#{odb.saveOrderId()}">
                    <f:setPropertyActionListener target="#{odb.orderId}" value="#{_order.id}" />
                </h:commandLink>
                </h:form>
            </h:column>
        </h:dataTable>
    </ui:define>
</ui:composition>
