<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/default.xhtml">
    <ui:define name="content">
        <div>
        </div>
        <h2>Order details</h2>
        <h:panelGroup rendered="#{empty orderItems}">
            <em>Order that you have chosen has no order items</em>
        </h:panelGroup>
        <h:dataTable var="_orderitem" value="#{orderItems}" rendered="#{not empty orderItems}" styleClass="simpletablestyle">
            <h:column>
                <f:facet name="header">Product</f:facet>
                #{_orderitem.productName}
            </h:column>
            <h:column>
                <f:facet name="header">Quantity</f:facet>
                #{_orderitem.quantity}
            </h:column>
            <h:column>
                <f:facet name="header">Price</f:facet>
                #{_orderitem.price}
            </h:column>
        </h:dataTable>
        <h:link outcome="myorders" value="Go back to orders"/>
    </ui:define>
</ui:composition>
