<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/default.xhtml">
    <ui:define name="content">
<h:form id="productlist">
        <div></div>
        <h2>Products</h2>
        <h:panelGroup rendered="#{empty products}">
            <em>No products in our store!</em>
        </h:panelGroup>
        <h:dataTable var="_product" value="#{products}" rendered="#{not empty products}" styleClass="simpletablestyle">
            <h:column>
                <f:facet name="header">Name</f:facet>
                #{_product.name}
            </h:column>
            <h:column>
                <f:facet name="header">Description</f:facet>
                #{_product.description}
            </h:column>
            <h:column>`
                <f:facet name="header">Amount</f:facet>
                #{_product.amount}
            </h:column>
            <h:column>
                <f:facet name="header"></f:facet>
            <h:commandButton id="button" value="Add to cart" action="#{sp.addToCart(_product)}"/>
        </h:column>
        </h:dataTable>
    </h:form>
    </ui:define>
</ui:composition>
