body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  color:#363636;
}

#container-b {
  margin: 0 auto;
  width: 865px;
  border-width: 0px;
}
#content {
  float: left;
  width: 500px;
  margin: 20px;
}

.dualbrand {
  float: right;
  padding-right: 10px;
}
#footer {
  clear: both;
  text-align: center;
  color: #666666;
  font-size: 0.85em;
}
code {
  font-size: 1.1em;
}
a {
  color: #4a5d75;
  text-decoration: none;
}
a:hover {
  color: #369;
  text-decoration: underline;
}
h1 {
  color:#243446;
  font-size: 2.25em;
}
h2 {
  font-size: 1em;
}
h3 {
  color:#243446;
}
h4 {
}
h5 {
}
h6 {
}
span.invalid {
  padding-left: 3px;
  color: red;
}


input {
  margin-bottom: 8px;
}
.register {
  float: left;
  margin-left: 85px;
}

.simpletablestyle {
  background-color:#E6E7E8;
  clear:both;
  width: 550px;
}

.simpletablestyle img {
  border:0px;
}

.simpletablestyle td {
  height:2em;
  padding-left: 6px;
  font-size:11px;
  padding:5px 5px;
}

.simpletablestyle th {
  background-color: #4CAF50;
  font-size:12px;
  font-weight:normal;
  padding:0 10px 0 5px;
  border-bottom:#999999 dotted 1px;
}

.simpletablestyle thead {
  background-color: #4CAF50;
  height:31px;
  font-size:10px;
  font-weight:bold;
  color:#FFFFFF;
  text-align:left;
}

.simpletablestyle .header a {
  color:#94aebd;
}

.simpletablestype tfoot {
	height: 20px;
  font-size: 10px;
  font-weight: bold;
  background-color: #EAECEE;
  text-align: center;
}

.simpletablestyle tr.header td {
  padding: 0px 10px 0px 5px;
}


.simpletablestyle .subheader {
  background-color: #e6e7e8;
  font-size:10px;
  font-weight:bold;
  color:#000000;
  text-align:left;
}

.simpletablestyle tr:nth-child(odd) {
  background: #f4f3f3;
}
.simpletablestyle tr:nth-child(even) {
  background: #ffffff;
}

.simpletablestyle td a:hover {
  color:#3883ce;
  text-decoration:none; 
}

.btn btn-primary btn-lg btn-override {
background:black;
padding: 3px 10px;
}

.col-sm-2 control-label.toleft {
  margin-left : 0px;
  float: left;
  padding-left : 0px;}


.superlinks {
background-color: transparent;
box-sizing: border-box;
color: #333;
display: block;
font-size: 14px;
line-height : 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
outline-color: #333;
outline-offset: -2px;
outline-style: dotted;
outline-width: 0.8px;
padding-bottom: 15px
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
position: relative;
text-decoration: none;
text-decoration-color: #333;
text-decoration-line: none;
text-decoration-style: solid;
}
.label-form {

box-sizing : border-box;
color: #333;
display: block;
float: left;
font-size: 14px;
font-weight: 700;
line-height: 20px;
margin-bottom: 5px;
max-width: 530px;
min-height: 1px;
padding-left: 0px;
padding-right : 15px;
position : relative;
width : 88.3333px;

}
.messages.error  {
    color:red;
    list-style-type: none;
}

.hide {
display:none;}