<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
   <title>Yggdrasil Gaming test</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <h:outputStylesheet name="css/screen.css" />
   <h:outputStylesheet name="css/bootstrap.min.css"/>
</h:head>
<h:body>
   <div>
   <nav class="navbar navbar-default">
      <div class="container-b">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">Yggdrasil Gaming Test</p>
         </div>
         <div id="navbar" >
            <h:form styleClass="#{(login.isLogged())?'hide':''}" >
               <ul class="nav navbar-nav">
                  <li class="#{(view.viewId.equals('/login.xhtml')) ? 'active' : ''}"><h:commandLink value="Log In" action="login?faces-redirect=true"/></li>
                  <li class="#{(view.viewId.equals('/singup.xhtml')) ? 'active' : ''}"><h:commandLink value="Sign up" action="singup?faces-redirect=true" /></li>
               </ul>
            </h:form>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <h:form id="nav-bar" rendered="#{not empty facesContext.getExternalContext().getSessionMap().get(&quot;username&quot;)}">
              <ul class="nav navbar-nav">
               <li class="#{(view.viewId.equals('/app/index.xhtml')) ? 'active' : ''}"><h:commandLink value="Home" action="index?faces-redirect=true"/></li>
               <li class="#{(view.viewId.equals('/app/products.xhtml')) ? 'active' : ''}"><h:commandLink id="Products" value="Products" action="products?faces-redirect=true"/></li>
               <li class="#{(view.viewId.equals('/app/myorders.xhtml')) ? 'active' : ''}"><h:commandLink value="My orders" action="myorders?faces-redirect=true" /></li>
               <li class="#{(view.viewId.equals('/app/cart.xhtml')) ? 'active' : ''}"><h:commandLink value="Cart" action="cart?faces-redirect=true" /></li>
               <li><h:commandLink value="Logout" action="#{login.logout}" /></li>
              </ul>
            </h:form>
         </div>
      </div>
   </nav>

   <div id="container-b">
      <div id="content">
         <ui:insert name="content">
         </ui:insert>
      </div>
   </div>
   </div>

</h:body>
</html>