<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/default.xhtml">
    <ui:define name="content">
        <h2>Register new account</h2>

        <h:form id="signup" styleClass="form-horizontal">
            <div class="form-group">
                <h:outputLabel for="username" value="Login" styleClass="label-form"/>
                <h:inputText id="username" value="#{login.user}" styleClass="form-control"></h:inputText>
                <h:message for="username" styleClass="messages error"></h:message>
            </div>
            <div class="form-group">
                <h:outputLabel for="password" value="Password" styleClass=".col-sm-2 control-label.toleft"/>
                <h:inputSecret id="password" value="#{login.password}" styleClass="form-control"></h:inputSecret>
                <h:message for="password" styleClass="messages error"></h:message>
            </div>
            <div class="form-group">
                <h:commandButton action="#{login.register}"
                                 value="Register" styleClass="btn btn-default"></h:commandButton>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
